<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="{{ item.key }}" *ngFor="let item of menu | keyvalue">
            <ion-icon icon="{{ item.value.icon }}"></ion-icon>
            <ion-label>{{ item.value.title }}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
