<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ item.title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe  frameborder="0" height="100%" width="100%" [src]="srcUrl">></iframe>
</ion-content>
